{% extends 'base.html' %} 
{% block content %}

  {% if object %}
    <!-- UpdateView rendering this template -->
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
  {% else %}

<h1>Add Cat</h1>
{% endif %}
<form action="" method="post">
{% csrf_token %} 
<table>{{ form.as_table }}</table>
<button type="submit" class="btn btn-primary">Submit Cat</button>

</form>
 {% if object %}
    <button type="submit" class="btn btn-warning"><a href="{% url 'detail' object.id %}">Cancel</a></button>
  {% endif %}

{% endblock %}
