{% extends 'base.html' %} {% block content %}

<h1>Welcome, {{ user }}</h1>

{% for cat in cats %} {% if user == cat.user %}
<div class="cat-detail-card">
  <div class="cat-detail">
    <a href="{% url 'detail' cat.id %}">
      <img src="{{ cat.image_url }}" class="card-img-detail" alt="..." />
      <p class="card-detail-title">{{ cat.name }}</p>
      <h5>Application Status: {{ cat.pending }}</h5>
      <p>Species: {{ cat.species }}</p>
      <p>Sex: {{ cat.sex }}</p>
      <p>Age: {{ cat.age }}</p>
      <p>Health: {{ cat.health }}</p>
    </a>
  </div>
</div>
<br />

{% endif %} {% endfor %} {% endblock %}
