{% extends 'base.html' %} {% block content %}

<h1>Sign Up</h1>

<h5 style="padding: 10px 0">
  In order for us to accept, view, and make a decision on your big cat surrender
  application, please create a secure account.
</h5>

<!-- Add the signup form -->
{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" class="btn btn-primary" value="Signup" />
</form>

{% endblock %}
