{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Big Cat Liberation</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

</head>

<body>
  <div id="main1">
    <div class="backpic">
          <div class="rectangle">
          <h1 class="title">Big Cat Liberation</h1>
          <a href="{% url 'about' %}"><button class="button">About Us</button></a>
      </div>
    </div>
  </div>
</body>
