/* * {
  margin: 0;
  padding: 0;
} */
/* html {
  min-height: 100%;
  margin-bottom: 0;

} */
html, body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin: 0; 


  }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* margin: 0; */
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  #id_in_use {
    padding: 20px;
  }

  
  
  .backpic {
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/safari.jpg);
    height: 100vh;
    width: 100%; 
    margin: 0;
    background-size: cover;
  }

 
  .rectangle {
    height: 35%;
    width: 60%;
    background: rgba(0, 0, 0, 0.4);
    top: 60%;
    left: 20%; 
    position: absolute;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
  }


  .title {
    text-align: center;
    font-family: 'Quattrocento', serif;
    padding-top: 0%;
    color: white;
    font-size: 3.5vw;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 19px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
  }

  .title1{
    text-align: center;
    font-family: 'Quattrocento', serif;
    padding-top: 0%;
    color: white;
    font-size: 2vw;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 19px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    /* animation-delay: 30s; */
    /* animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite; */
  }
  
  @media only screen and (max-width: 480px) {
     .title  {
      font-size: 10vw;
      margin-top: 30%;
  }
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .button {
    background-color: #F26419; /* Green */
    border: none;
    border-radius: 10px;
    align-items: center;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2% 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /* box-shadow: 0 8px 16px 0 rgba(221, 107, 62, 0.24), 0 6px 20px 0 rgba(255, 255, 255, 0.24); */
    box-shadow: 0 8px 16px 0 rgba(212, 82, 12, 0.34), 0 6px 20px 0 rgba(212, 82, 12, 0.34);
  }
    

