body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(223, 189, 148);
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

#id_in_use {
  padding: 20px;
}
