{% extends 'base.html' %} {% block content %}

<h1>{{ cat.name }}</h1>


<img src="{{ cat.image_url }}" class="card-img-detail" alt="..." />
<div class="cat-detail-card">
  <div class="cat-detail">
    <p>Species: {{ cat.breed }}</p>
    <p>Sex: {{ cat.sex }}</p>
    <p>Age: {{ cat.age }}</p>
    <p>Health: {{cat.health}}</p>
    <p>Description: {{cat.description}}</p>
  </div>
  <div class="cat-detail-admin">
    {% if user.is_superuser %}
    <form action="{% url 'update_pending' cat.id %}" method="post">
      {% csrf_token %} {{ pending_form.as_p }}
      <input
        type="submit"
        value="Update Status"
        class="btn btn-primary-status"
      />
    </form>
    <div class="card-action">
      <br />
      <a href="{% url 'cats_update' cat.id %}" class="btn btn-secondary-detail"
        >Edit</a
      >
      <a href="{% url 'cats_delete' cat.id %}" class="btn btn-secondary-detail"
        >Delete</a
      >
    </div>
</div>
  {% endif %}
</div>
<div class="needs-row">
  <div class="col s6">
    <h3>{{ cat.name }}'s Needs</h3>
    {% if cat.needs.count %} {% for need in cat.needs.all %}
    <div class="card-need">
      <div class="card-content">
        <span class="card-title-need">
          <span>{{ need.name }}</span> {{ need.quantity }}
        </span>
        <br />
        {% if user.is_superuser %}
        <a
          href="{% url 'unassoc_needs' cat.id need.id %}"
          class="btn btn-primary-detail"
          >Remove</a
        >
        {% endif %}
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Needs :(</h5>
    {% endif %}
  </div>
  <!-- Available needs will come after this line -->
  <div class="col s6">
    <h3>Available Needs</h3>
    {% if needs.count %} {% for need in needs.all %}
    <div class="card-need">
      <div class="card-content">
        <span class="card-title-need">
          <span>{{ need.name }}</span> {{ need.quantity }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_needs' cat.id need.id %}" method="post">
          {% csrf_token %} {% if user.is_superuser %}

          <button type="submit" class="btn btn-primary">Add</button>
          {% endif %}
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{cat.name}}'s needs have been met</h5>
    {% endif %}
  </div>
  {% endblock %}
</div>

  <script>
    const selectEl = document.getElementById("id_pending");
    M.FormSelect.init(selectEl);
  </script>
