{% extends 'base.html' %} {% block content %}

<h1>Big Cats</h1>

{% for cat in cats %}
{% if cat.pending == 'Approved' %}
<div class="card" style="width: 18rem;">
  <img src="{{ cat.image_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ cat.name }}</h5>
    <p class="card-text">Breed: {{ cat.breed }}</p>
    <p class="card-text">Sex: {{ cat.sex }}</p>
    <p class="card-text">Age: {{ cat.age }}</p>
    <p class="card-text">Health: {{ cat.health }}</p>
    <a href="{% url 'detail' cat.id %}" class="btn btn-primary">Details</a>
  </div>
</div>
{% endif %}
{% endfor %} 
{% endblock %}

